asgiref==3.8.1; python_version >= '3.8'
django==5.1.2; python_version >= '3.10'
django-ckeditor==6.7.1; python_version >= '3.8'
django-environ==0.11.2; python_version >= '3.6' and python_version < '4'
django-js-asset==2.2.0; python_version >= '3.8'
pillow==11.0.0; python_version >= '3.9'
pygments==2.18.0; python_version >= '3.8'
redgreenunittest==0.1.1
sqlparse==0.5.1; python_version >= '3.8'
