{% extends "core/base.html" %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block content %}
    <main role="container">
        <div class="container-fluid">
            <div class="row mb-5 justify-content-md-center">
                <h3>Perfiles Públicos</h3>
            </div>
            
            {% if profile_list %}
                <div class="row mb-5 justify-content-center">
            {% endif %}

            {% for eachRecord in profile_list %}
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <div class="row mb-5 gap-3 justify-content-center">
                {% endif %}
                <div class="col-3">
                    <div class="row">
                        <div class="col-5">
                            {% if eachRecord.avatar %}
                                <img src="{{eachRecord.avatar.url}}" class="img-fluid">
                            {% else %}
                                <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="col">
                            <h4>{{ eachRecord.user.username }}</h4>
                            <a href="{% url "profiles:detail" eachRecord.user.username %}">Ver más</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            {% if profile_list %}
                </div">
            {% endif %}
        </div>
    </main>
{% endblock content %}