{% extends "core/base.html" %}
{% load static %}
{% block title %}Cambiar mi contraseña{% endblock %}
{% block content %}
    <style>.errorlist{color:red;} label{display:none}</style>
    <main role="main">
        <div class="container">
            <div class="row">
                <div class="col-9 mx-auto">
                    <form action="" method="post">{% csrf_token %}
                        <h3>Cambiar mi contraseña</h3>
                        {{ form.old_password.errors }}
                        <input class="form-control mb-4" type="password" name="old_password" autocomplete="current-password" placeholder="Contraseña antigua" id="id_old_password" autofocus required>
                        {{ form.new_password1.errors }}
                        <input class="form-control mb-4" type="password" name="new_password1" autocomplete="new-password" placeholder="Nueva Contraseña"id="id_new_password1" aria-describedby="id_new_password1_helptext" required>
                        <div class="help" id="id_new_password1_helptext">
                            <ul>
                                <li>Su contraseña no puede ser muy similar a su otra información personal.</li>
                                <li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
                                <li>Su contraseña no puede ser una contraseña de uso común.</li>
                                <li>Su contraseña no puede ser completamente numérica.</li>
                            </ul>
                        </div>
                        {{ form.new_password2.errors }}
                        <input class="form-control mb-4" type="password" name="new_password2" autocomplete="new-password" placeholder="Nueva Contraseña(Confirmación)" id="id_new_password2" required>
                        <p>
                            Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.
                        </p>
                        <input type="submit" value="Cambiar mi contraseña" class="btn btn-block btn-primary mb-4">
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock  %}

